<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'MainApp/index_style.css' %}">
        <title>Geek's Rate!</title>
    </head>
    <body>
        <div class="main-border">
            <div class="header">
                <h1>Are You Ready?</h1>
            </div>
            <div class="button">
                <a href="questions/">Ready</a>
            </div>
            <div class="l-board">
                <a href="leaderboard/">LeaderBoard</a>
            </div>
        </div>
    </body>
</html>